:root {
    --primary-color: #506D11;
    --secondary-color: #76b012;
    --background-gradient: linear-gradient(-0deg, #262F12 0%, #506D11 55%, #76b012 100%);
    --input-border-color: white;
    --input-focus-border-color: #A1EE12;
    --button-border-color: #76b012;
    --button-hover-shadow-color: #A1EE12;
}


body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(-0deg, #262F12 0%, #506D11 55%, #76b012 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-card {
    background: var(--primary-color);
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
}

::-webkit-input-placeholder {
    color: white;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;

}
input:hover {
    outline: none;
    border-color: white;
    box-shadow: 0 0 5px white;
    border: white solid 1.5px;
}
input:focus {
    outline: none;
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 5px var(--input-focus-border-color);
    border: var(--input-focus-border-color) solid 1.5px;
}

input:active {
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 5px var(--input-focus-border-color);
}
button {
    width: 100%;
    padding: 12px;
    background: transparent;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    border: #76b012 solid 1px;

}

button:hover {
box-shadow: var(--button-hover-shadow-color) 0px 0px 6px;
border: var(--button-hover-shadow-color) solid 1.5px;
}

button:focus {
    outline: none;
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 5px var(--input-focus-border-color);
    border: var(--input-focus-border-color) solid 1.5px;
}

h2 {
    color: white;
    margin-bottom: 20px;
}